.banner{
    background-color: darkred;
    width:100%;
    height:50px;
    margin-bottom:50px;
}
.banner-text{
    color: white;
    left:50%;
    position:absolute;
    transform:transform;
}